In [1]:
import pandas as pd
from tokenize import tokenize
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/michalpurtak/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
books_df = pd.read_csv("books.csv")

In [7]:
def split_string(row):
    return row['abstract'].split()

In [8]:
def stemWords(row):
    porter = SnowballStemmer("english", ignore_stopwords=True)
    words = []
    for word in row['abstract']:
        words.append(porter.stem(word))
    return words

In [9]:
tokenized_abstracts = books_df.apply(split_string, axis=1)

In [10]:
books_tokenized = list(zip(books_df['name'], tokenized_abstracts))

In [11]:
books_tokenized_df = pd.DataFrame({'name':books_df['name'], 'abstract':tokenized_abstracts})

In [12]:
books_tokenized_df.to_csv("books_tokenized.csv")

In [ ]:
stemmed_abstracts = books_tokenized_df.apply(stemWords, axis = 1)

In [40]:
stemmed_abstracts[:5]

0    [1066, and, all, that:, A, memor, histori, of,...
1    [1066, and, all, that:, A, memor, histori, of,...
2    [2010:, odyssey, two, is, a, 1982, scienc, fic...
3    [A, crown, of, sword, (abbrevi, as, aco, by, f...
4    [publish, on, 15, april, 1755, and, written, b...
dtype: object

In [41]:
books_tokenized_stemmed_df = pd.DataFrame({'name':books_tokenized_df['name'], 'abstract':stemmed_abstracts})

In [42]:
books_tokenized_stemmed_df[:5]

,name,abstract
0,1066 and All That,"[1066, and, all, that:, A, memor, histori, of,..."
1,1066 and All That: A Memorable History of Eng...,"[1066, and, all, that:, A, memor, histori, of,..."
2,2010: Odyssey Two,"[2010:, odyssey, two, is, a, 1982, scienc, fic..."
3,A Crown of Swords,"[A, crown, of, sword, (abbrevi, as, aco, by, f..."
4,A Dictionary of the English Language,"[publish, on, 15, april, 1755, and, written, b..."

In [43]:
books_tokenized_stemmed_df.to_csv("books_tokenized_stemmed.csv")